<footer class="bg-dark text-center text-white">
  
  <div class="container p-4 pb-0">
    
    <section class="">
      <form action="">
        
        <div class="row d-flex justify-content-center">
         
          <div class="col-auto">
            <p class="pt-2">
              <strong></strong>
            </p>
          </div>        
        
          <!>
     <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
       © Copyright:
      <a class="text-reset fw-bold" href="{{ url_for('index') }}">Index</a>
     </div>


       
            

